{:target-type :virtualbox
 :clojure {:lein-auth [{:repo "maven.my-repo.com"
                        :username {:plain "mvn-account"}
                        :password {:plain "mvn-password"}}]}
 :java {}
 :java-script {:nodejs-use "11.x"}
 :bigdata {}
 :ide-platform #{:atom}
 :user          {:name "test-user"
                 :password {:plain "xxx"}
                 :email "test-user@mydomain.org"
                 :credential-store []
                 :desktop-wiki []
                }}
