{:input {:user {:name  "test"
                :password "pwd"}
         :target-type :virtualbox
         :java {}
         :ide-platform #{:atom}}
 :expected {:dda-managed-ide
            {:ide-user :test
             :ide-settings
             #{:install-basics :install-tmate :install-idea-inodes :install-npm :install-asciinema
               :install-pgtools}
             :basics {:argo-uml {:version "0.34"}
                      :yed {:download-url "https://www.yworks.com/resources/yed/demo/yEd-3.19.1.1.zip"}}
             :db {:dbvis {:version "10.0.25"}}
             :atom
             {:plugins
              ["ink"
               "minimap"
               "busy-signal"
               "atom-toolbar"
               "atom-meld"
               "intentions"
               "trailing-spaces"
               "linter"
               "linter-write-good"
               "linter-ui-default"
               "linter-jsonlint"
               "linter-spell"
               "linter-spell-html"
               "linter-clojure"
               "minimap-linter"
               "teletype"
               "tree-view-git-status"
               "git-time-machine"
               "language-diff"
               "split-diff"]}
             :java {:gradle {:version "4.9"}}}}
 :meta {:name "config-set-java"}}