{:input {:user {:name  "test"
                :password "pwd"}
         :target-type :virtualbox
         :ide-platform #{:atom}
         :clojure {:lein-auth [{:repo "maven.my-repo.com"
                                :username "mvn-account"
                                :password "mvn-password"}]}}
 :expected {:dda-managed-ide {:ide-user :test,
                             :ide-settings #{:install-idea-inodes
                                             :install-basics
                                             :install-tmate
                                             :install-npm
                                             :install-pgtools
                                             :install-asciinema}
                             :basics
                                   {:argo-uml {:version "0.34"},
                                    :yed
                                    {:download-url
                                     "https://www.yworks.com/resources/yed/demo/yEd-3.19.zip",}}
                             :db {:dbvis {:version "10.0.16"}}
                             :java {:java-default-to
                                    "/usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java"}
                             :atom {:plugins ["ink"
                                              "minimap"
                                              "busy-signal"
                                              "atom-toolbar"
                                              "atom-meld"
                                              "intentions"
                                              "trailing-spaces"
                                              "linter"
                                              "linter-write-good"
                                              "linter-ui-default"
                                              "linter-jsonlint"
                                              "linter-spell"
                                              "linter-spell-html"
                                              "linter-clojure"
                                              "minimap-linter"
                                              "teletype"
                                              "tree-view-git-status"
                                              "git-time-machine"
                                              "language-diff"
                                              "split-diff"
                                              "proto-repl"
                                              "clojure-plus"
                                              "parinfer"
                                              "lisp-paredit"
                                              "linter-clojure"]}
                             :clojure {:lein-auth [{:repo "maven.my-repo.com"
                                                    :username "mvn-account"
                                                    :password "mvn-password"}]}}}
 :meta {:name "config-set-clojure"}}